---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}
</article>

{% assign matchcheck = false %}
{% for category in post.categories %}
        {% if page.categories contains category %}
          {% assign matchcheck = true %}
{% endfor %}

{% if site.related_posts != empty %}
<aside class="related">
  {% if matchcheck %}
  <h3>Related posts</h3>
  {% endif %} 
  <ul class="related-posts">
    {% for post in site.related_posts limit:5 %}
      {% assign match = false %}
      {% for category in post.categories %}
        {% if page.categories contains category %}
          {% assign match = true %}
        {% endif %}
      {% endfor %}
      {% if match %}
        <li>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
          </a>
        </li>
      {% endif %}                       
    {% endfor %}
  </ul>
</aside>
{% endif %}
